{% extends 'products/base.html' %}
{% load crispy_forms_field %}

{% block app_content %}

<style>
	input[type="text"] {
		/* Aca irian los estilos */
	}
</style>

<div>
	<form class="container-fluid">
		<div class="row my-2">
			<div class="col">
				<h1 class="display-4 text-center" style="padding: 10px;">
					Realizar Pedido
				</h1>
			</div>
		</div>
		<div class="row my-2">
			<div class="col px-0">
				<h3 class="px-4 py-2 border rounded">
					Dirección
				</h3>
      </div>
    </div>

    {% for field in form.visible_fields %}
    {% if field.auto_id == "id_payment_method"%}
    <div class="row">
      <div class="col px-0 my-2">
        <h3 class="px-4 py-2 border rounded">
          Datos de Pago
        </h3>
      </div>
    </div>
    {% endif %}
    <div class="form-group row {% if forloop.counter == 6 %}d-none{% endif %}">
      <label class="col-xs-12 col-sm-3 pl-0" for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
      {% if field.auto_id == "id_delivery_time" %}
      {% crispy_field field 'class' 'col datetimepicker-input' 'data-toggle' "datetimepicker" 'data-target' "#id_delivery_time" %}
      {% else %}
      {% crispy_field field 'class' 'col' %}
      {% endif %}
    </div>
    {% endfor %}
<div class="row">
  <div class="col">
				<button type="submit" class="btn btn-primary mt-4 float-right ml-2">
					Confirmar Pedido
				</button>
				<button type="button" class="btn btn-secondary mt-4 float-right">
					Cancelar Pedido
				</button>
			</div>
		</div>
	</form>
</div>

<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="modal-body container-fluid needs-validation" id="cardForm">
        {% for field in card_form.visible_fields %}
        <div class="form-group row">
          <label class="col-xs-12 col-sm-3" for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% if field.auto_id == "id_due_date" %}
          {% crispy_field field 'class' 'col mx-3' 'data-toggle' "datetimepicker" 'data-target' "#id_due_date" %}
          {% else %}
          {% crispy_field field 'class' 'col mx-3' %}
          {% endif %}
          <div class="invalid-feedback mx-3" id="feedback-{{field.name}}">

          </div>
        </div>
      {% endfor %}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://kit.fontawesome.com/64e7933841.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js" integrity="sha256-C66CaAImteEKZPYvgng9j10J/45e9sAuZyfPYCwp4gE=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>

<script type="text/javascript">
  $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
              icons: {
                  time: 'far fa-clock',
                  date: 'far fa-calendar',
                  up: 'fas fa-arrow-up',
                  down: 'fas fa-arrow-down',
                  previous: 'fas fa-chevron-left',
                  next: 'fas fa-chevron-right',
                  today: 'fas fa-calendar-check-o',
                  clear: 'fas fa-trash',
                  close: 'fas fa-times'
              } });

  $(function () {
    $('#id_delivery_time').datetimepicker({
      stepping: 60,
      minDate: moment().valueOf()
    });

    $('#id_due_date').datetimepicker({
      'minDate': moment().valueOf(),
      'viewMode': 'years',
      'format': 'MM/YYYY'
    });
  });
  $('#id_payment_method').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;
    if (valueSelected == "T"){
      $("#exampleModalScrollable").modal('show')
    }
  });

(function() {
'use strict';
window.addEventListener('load', function() {
  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.getElementsByClassName('needs-validation');
  // Loop over them and prevent submission
  var validation = Array.prototype.filter.call(forms, function(form) {
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        event.stopPropagation();
        if (form.checkValidity() === true && $('#cardForm').find('input.is-invalid').length === 0) {
          $("#exampleModalScrollable").modal('hide')
        }
      //form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

  $("#id_number").focusout(function() {
    var value = $(this).val(),
      input = $(this),
      invalidDiv = $("#feedback-number")
      input.removeClass("is-valid")
      input.removeClass("is-invalid")
    if (/[^0-9-]+/.test(value)) {
      invalidDiv.html("Ingrese solo numeros")
      input.addClass("is-invalid")
        return false;
    }

    value = value.replace(/\D/g, "");

    if (/^(4)/.test(value)) { //visa
      if (value.length != 16){
        invalidDiv.html("Cantidad incorrecta de numeros")
        input.addClass("is-invalid")
      } else {
        input.addClass("is-valid")
        invalidDiv.html("")
      }
      return;
    }
    input.addClass("is-invalid")
    invalidDiv.html("La tarjeta ingresada no es VISA")
  });

  $("#id_cvc").focusout(function() {
    var value = $(this).val(),
      input = $(this),
      invalidDiv = $("#feedback-cvc");
      var myRe = /^[0-9]{3,4}$/;
     if(myRe.test(value)){
       input.removeClass("is-invalid")
       input.addClass("is-valid")
       invalidDiv.html("")
        return false;
     } else{
       input.removeClass("is-valid")
       input.addClass("is-invalid")
       invalidDiv.html("CVC invalido")
         return true;  //valid cvv number
      }
  })

  $("#id_immediate_delivery").on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;
    if (valueSelected == 'False'){
      $("#id_delivery_time").parent(".form-group").removeClass("d-none")
    }
  });

</script>
{% endblock %}
