{% extends 'products/base.html' %}
{% load crispy_forms_field %}
{% block app_content %}

<style>
	input[type="text"] {
		/* Aca irian los estilos */
	}
</style>

<div>
	<div class="container-fluid">
		<div class="row my-2">
			<div class="col">
				<h1 class="display-4" style="padding: 10px;">
					Checkout
				</h1>
			</div>
		</div>
		<div class="row my-2">
			<div class="col px-0">
				<h3 class="px-4 py-2 border border-success rounded">
					Dirección
				</h3>
      </div>
    </div>

    {% for field in form.visible_fields %}

    <div class="form-group row {% if forloop.counter == 6 %}d-none{% endif %}">
      <label class="col-xs-12 col-sm-3 pl-0" for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
      {% crispy_field field 'class' 'col' %}
    </div>
    {% if forloop.counter == 6 %}
    <div class="row">
			<div class="col px-0 my-2">
				<h3 class="px-4 py-2 border border-success rounded">
					Datos de Pago
				</h3>
      </div>
    </div>
    {% endif %}
    {% endfor %}
<div class="row">
  <div class="col">
				<button type="button" class="btn btn-primary mt-4 float-right ml-2">
					Confirmar Pedido
				</button>
				<button type="button" class="btn btn-secondary mt-4 float-right">
					Cancelar Pedido
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="modal-body container-fluid needs-validation" id="cardForm">
        {% for field in card_form.visible_fields %}
        <div class="form-group row">
          <label class="col-xs-12 col-sm-3" for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% crispy_field field 'class' 'col mx-3' %}
          <div class="invalid-feedback mx-3" id="feedback-{{field.name}}">

          </div>
        </div>
      {% endfor %}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $('#id_payment_method').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;
    if (valueSelected == "T"){
      $("#exampleModalScrollable").modal('show')
    }
  });

(function() {
'use strict';
window.addEventListener('load', function() {
  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.getElementsByClassName('needs-validation');
  // Loop over them and prevent submission
  var validation = Array.prototype.filter.call(forms, function(form) {
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        event.stopPropagation();
        if (form.checkValidity() === true && $('#cardForm').find('input.is-invalid').length === 0) {
          $("#exampleModalScrollable").modal('hide')
        }
      //form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

  $("#id_number").focusout(function() {
    var value = $(this).val(),
      input = $(this),
      invalidDiv = $("#feedback-number")
      input.removeClass("is-valid")
      input.removeClass("is-invalid")
    if (/[^0-9-]+/.test(value)) {
      invalidDiv.html("Ingrese solo numeros")
      input.addClass("is-invalid")
        return false;
    }

    value = value.replace(/\D/g, "");

    if (/^(4)/.test(value)) { //visa
      if (value.length != 16){
        invalidDiv.html("Cantidad incorrecta de numeros")
        input.addClass("is-invalid")
      } else {
        input.addClass("is-valid")
        invalidDiv.html("")
      }
      return;
    }
    input.addClass("is-invalid")
    invalidDiv.html("La tarjeta ingresada no es VISA")
  });

  $("#id_cvc").focusout(function() {
    var value = $(this).val(),
      input = $(this),
      invalidDiv = $("#feedback-cvc");
      var myRe = /^[0-9]{3,4}$/;
     if(myRe.test(value)){
       input.removeClass("is-invalid")
       input.addClass("is-valid")
       invalidDiv.html("")
        return false;
     } else{
       input.removeClass("is-valid")
       input.addClass("is-invalid")
       invalidDiv.html("CVC invalido")
         return true;  //valid cvv number
      }
  })

  $("#id_immediate_delivery").on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;
    if (valueSelected == 'false'){
      $("#id_delivery_time").parent(".form-group").removeClass("d-none")
    }
  });

</script>
{% endblock %}
