{% extends 'products/base.html' %} {% block app_content %}

<style>
	input[type="text"] {
		/* Aca irian los estilos */
	}
</style>

<div>
	<div class="container-fluid">
		<div class="row my-2">
			<div class="col">
				<h1 class="display-4" style="padding: 10px;">
					Checkout
				</h1>
			</div>
		</div>
		<div class="row my-2">
			<div class="col">
				<h3
					style="
						background-color: MediumSeaGreen;
						padding: 8px;
						border-radius: 25px;
					"
				>
					Dirección
				</h3>

				<label for="Ciudad" class="col-sm-2 col-form-label">Ciudad</label>
				<select id="ciudades" name="ciudades">
					<option value="Cordoba">Cordoba</option>
					<option value="Rio Cuarto">Rio Cuarto</option>
					<option value="Oncativo">Oncativo</option>
					<option value="Carlos Paz">Carlos Paz</option>
					<option value="Alta Gracia">Alta Gracia</option>
					<option value="Villa General Belgrano">Villa General Belgrano</option>
					<option value="Rio Tercero">Rio Tercero</option>
					<option value="Villa Giardino">Villa Giardino</option>
					<option value="Oliva">Oliva</option>
					<option value="Rio Segundo">Rio Segundo</option>
				</select>
				<br />

				<label for="Calle" class="col-sm-2 col-form-label">Calle</label>
				<input type="text" name="calle" id="txt_ciudad" />
				<br />

				<label for="Numero" class="col-sm-2 col-form-label">Numero</label>
				<input type="number" name="numero" id="txt_numero" />
				<br />

				<label for="Referencia" class="col-sm-2 col-form-label"
					>Referencia</label
				>
				<input type="text" name="referencia" id="txt_referencia" />
				<br />
			</div>
		</div>
		<div class="row">
			<div class="col my-2">
				<h3
					style="
						background-color: MediumSeaGreen;
						padding: 5px;
						padding: 8px;
						border-radius: 25px;
					"
				>
					Datos de Pago
				</h3>

				<label for="MetodoPago" class="col-sm-3 col-form-label"
					>Forma de Pago</label
				>
				<select id="tipos_pago" name="tipos_pago">
					<option value="Efectivo">Efectivo</option>
					<option value="Tarjeta VISA">Tarjeta VISA</option>
				</select>
				<br />

				<label for="Monto" class="col-sm-3 col-form-label">Monto</label>
				<input type="number" name="monto" id="txt_monto" />
				<br />

				<label for="Numero Tarjeta" class="col-sm-3 col-form-label"
					>Numero Tarjeta</label
				>
				<input type="number" name="num_tarjeta" id="txt_num_tarjeta" />
				<br />

				<label for="Nombre del Titular" class="col-sm-3 col-form-label"
					>Nombre del Titular</label
				>
				<input type="text" name="nom_titular" id="txt_nom_titular" />
				<br />

				<label for="Apellido del Titular" class="col-sm-3 col-form-label"
					>Apellido del Titular</label
				>
				<input type="text" name="ape_titular" id="txt_ape_titular" />
				<br />

				<label for="Fecha de Vencimiento" class="ml-3"
					>Fecha de Vencimiento</label
				>
				<input type="date" name="fecha_vec" id="date_fecha_vec" />
				<br />

				<label for="CVC" class="col-sm-3 col-form-label">CVC</label>
				<input type="number" name="cvc" id="txt_cvc" />
				<br />
			</div>
		</div>
		<div class="row my-2">
			<div class="col">
				<h3
					style="
						background-color: MediumSeaGreen;
						padding: 5px;
						padding: 8px;
						border-radius: 25px;
					"
				>
					Otros
				</h3>

				<label for="Momento a Recibir" class="col-sm-3 col-form-label"
					>Momento a Recibir</label
				>
				<select id="opc_recepcion" name="opc_recepcion">
					<option value="Lo antes posible">Lo antes posible</option>
					<option value="Determinar fecha y hora"
						>Determinar fecha y hora</option
					>
				</select>
				<br />

				<label for="Fecha y Hora" class="col-sm-3 col-form-label"
					>Fecha y Hora</label
				>
				<input
					type="datetime-local"
					name="fecha_recibir"
					id="date_fecha_recibir"
				/>
				<br />

				<button type="button" class="btn btn-primary mt-4 float-right mx-2">
					Confirmar Pedido
				</button>
				<button type="button" class="btn btn-secondary mt-4 float-right">
					Cancelar Pedido
				</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}
